@model OrderVM
@{
    ViewData["Title"] = "Index";
}

<section class="showcase">
    <div class="video-container">
        <div class="video">
            <img src="~/../photos/Our-chef-photo/@Model.Slides.ElementAt(4).Image" alt="">
        </div>
    </div>
</section>

<div class="container ">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div>
                <section class="slider-text-area">
                    <div class="slider-text">
                        <h5 data-aos="fade-down">@Model.Slides.ElementAt(4).Saw</h5>
                        <h2 data-aos="fade-down">@Model.Slides.ElementAt(4).RestaurantName</h2>
                        <div class="text-area col-sm-12" data-aos="fade-down">
                            <p>
                                @Model.Slides.ElementAt(4).Description
                            </p>
                        </div>
                        <a asp-action="Index" asp-controller="Menu" class="btn button" data-aos="fade-down">View menu</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<section class="general-order-side">
    <div class="container content">
        <div class="row">
            <div class="col-md-6 img-side">
                <img style="width:100%; height:100%; border-radius:20px; " src="~/../photos/Menu-photo/image-31.jpg" alt="">
            </div>
            <div class="col-md-6 order-side">
                <div class="food-name">
                    <h2>Burger</h2>
                </div>
                <div class="order">

                    <i class="fas fa-minus-circle"></i>

                    <p class="count">1</p>

                    <i class="fas fa-plus-circle"></i>

                </div>
                <div class="food-price">
                    <p>Food price</p>
                    <p class="food-price-count"> 5 </p>
                </div>
                <div class="all-price">
                    <p>All Price</p>
                    <p class="all-price-count">$0</p>

                    <a href="#" class="button">
                        Confirm
                    </a>

                </div>
            </div>
        </div>


    </div>
</section>



