@model OrderVM
@{
    ViewData["Title"] = "SteakDetail";
}
<section class="showcase">
    <div class="video-container">
        <div class="video">
            <img src="../photos/reservation-photo/bg-27.jpg" alt="">
        </div>
    </div>
</section>

<div class="container ">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div>
                <section class="slider-text-area">
                    <div class="slider-text">
                        <h5 data-aos="fade-down">IF MUSIC BE THE FOOD OF LOVE PLAY ON</h5>
                        <h2 data-aos="fade-down">Iboşun retoranı</h2>
                        <div class="text-area col-sm-12" data-aos="fade-down">
                            <p>
                                Food, in the end, in our own tradition, is something holy. It's not about nutrients
                                and
                                calories.
                                <div class="text-area-center">
                                    It's about sharing. It's about honesty. It's about identity.
                                </div>
                            </p>
                        </div>
                        <a href="#" class="btn button" data-aos="fade-down">View menu</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<section class="general-order-side">
    <div class="container content">
        <div class="row">
            <div class="col-md-6 img-side">
                <img style="width:100%; height:100%" src="~/photos/Menu-photo/@Model.Order.Image" alt="">
            </div>
            <div class="col-md-6 order-side">
                <div class="food-name">
                    <h2>@Model.Order.BigMenuFoodName</h2>
                </div>
                <div class="order">

                    <i class="fas fa-minus-circle"></i>

                    <p class="count">1</p>

                    <i class="fas fa-plus-circle"></i>

                </div>
                <div class="food-price">
                    <p>Food price</p>
                    <p class="food-price-count"> @Model.Order.Price </p>
                </div>
                <div class="all-price">
                    <p>All Price</p>
                    <p class="all-price-count">$0</p>

                    <a href="#" class="button">
                        Confirm
                    </a>

                </div>
            </div>
        </div>


    </div>
</section>
