@model Setting
@{
    Layout = null;
}

<header>
    <div class="container">
        <nav>
            <div class="menu-icons">

                <i class="fas fa-bars"></i>
                <i class="fas fa-window-close"></i>
            </div>
            <a asp-action="Index" asp-controller="Home" class="logo">
                <i class="fas @Model.Eogo"></i>
            </a>
            <ul class="nav-list">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Menu">Menu</a>
                    <ul class="menu-table">
                        <li><a asp-action="Index" asp-controller="SteakBigMenu">Meat</a></li>
                        <li><a asp-action="Index" asp-controller="BreakFast">BreakFast</a></li>
                        <li><a asp-action="Index" asp-controller="PizzaMenu">Pizza</a></li>
                        <li><a asp-action="Index" asp-controller="Starters">FishFood</a></li>
                        <li><a asp-action="Index" asp-controller="Desserts">Desserts</a></li>
                        <li><a asp-action="Index" asp-controller="Drinks">Drinks</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Reservation">Reservation</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Order">Services</a>
                    <ul class="menu-table">
                        <li><a asp-action="Index" asp-controller="OurChef">OurChef</a></li>

                    </ul>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="About">About</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Contact">Contact</a>
                </li>
                <li>
                    <a asp-action="Login" asp-controller="Account">Login</a>
                </li>
                <li>
                    <a asp-action="Register" asp-controller="Account">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
